POSTGRES_DB=ticketflow
POSTGRES_USER=ticketflow
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# Keycloak server
KEYCLOAK_VERSION=26.7.0
KEYCLOAK_PORT=8080

# Keycloak administrator
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_TICKETFLOW_API_SECRET=

# Keycloak database
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change-me
